@page
@model FizzBuzz.Pages.AdressModel
@{
    <p>
        @Html.DisplayNameFor(model => Model.fizzbuzz1.number):
        @Model.fizzbuzz1.number
    </p>
    <p>
        @Html.DisplayNameFor(model => Model.fizzbuzz1.result):
        @Model.fizzbuzz1.result
    </p>
<p>
    @Html.DisplayNameFor(model => Model.fizzbuzz1.date):
    @Model.fizzbuzz1.date
</p>
}
